/* DESKTOP */
.section {
  width: 100%;
}

.projectContent {
  display: flex;
  align-items: center;
  gap: 48px;
}

.textBlock {
  flex: 1.2;
  min-width: 260px;
  padding: 0px 24px;
  box-sizing: border-box;
}

.imageBlock {
  flex: 1.8;
  min-width: 280px;
  max-width: none;
}

.textRight {
  flex-direction: row;
}

.textLeft {
  flex-direction: row-reverse;
}

.projectTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.role {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 12px;
  color: #666;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 12px;
}

.platformLogo {
  display: block;
  width: 150px;           
  height: 80px;           
  background-color: #eee; 
  padding: 8px;
  border-radius: 2px;
  margin-top: 30px;
  object-fit: contain;    
  box-sizing: border-box;
}


.lightBackground {
  background-color: #2a2a2a;
  color: #eee;
}

.lightBackground .role {
  color: #bbb;
}

.darkBackground {
  background-color: #1c1c1c;
  color: #eee;
}

.darkBackground .role {
  color: #aaa;
}

/* TABLET & MOBILE */
@media (max-width: 900px) {
  .projectContent {
    flex-direction: column;
    gap: 32px;
    padding: 32px 16px;
    text-align: center;
  }

  .textBlock,
  .imageBlock {
    max-width: 100%;
    padding: 0;
  }

  .projectTitle {
    font-size: 1.4rem;
  }

  .role,
  .description {
    font-size: 1rem;
  }

  .platformLogo {
    width: 120px;
    margin: 24px auto 0;
  }
}
