.page {
  min-height: 100svh;
  padding: 80px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.8rem;
  }
}
